// Basic declarations and overrides
* { box-sizing: border-box; }

html {
  height: 100%;
}

body {
  font-family: $font-family;
  background-repeat: repeat;
  background-color: $white;
  color: $brand-charcoal;
}

h1, .h1 {
  @include typi("h1");
  margin-top: 1em;
  margin-bottom: 0.25em;
  font-weight: 800;
}

h2, .h2 {
  @include typi("h2");
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 800;
}

h3, .h3 {
  @include typi("h3");
  margin-top: 1em;
  margin-bottom: 0.75em;
  font-weight: 800;
}

h4, .h4 {
  @include typi("h4");
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 800;
}

p {
  margin-top: 0;
  margin-bottom: 1em;

  & + p {
    margin-top: 1em;
  }
}

p {
  a:link {
    color: $brand-primary;
    text-decoration: none;
    border-bottom: 1px solid;
  }

  a:visited {
    color: desaturate($brand-primary, 10%);
    text-decoration: none;
  }

  a:hover {
    color: $brand-primary;
    text-decoration: none;
    border-bottom-color: $brand-alt;
  }
}

ul, ol {
  padding-left: 1.5rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

ul { list-style-type: square; }

figure {
  figcaption {
    color: $grey-dark;
    font-size: 0.875rem;
    font-style: italic;
    border-top: 1px solid $grey-lighter;
    padding-top: 0.5rem;
    text-align: center;
  }
}

blockquote {
  border-left: 0.25rem solid $brand-primary;
  padding-left: 1.5rem;
}

img {
  max-width: 100%;
  display: block;
}

hr {
  margin: 2.5rem auto 2.125rem;
  background-color: $white;
  border: 0;
  border-top: 2px solid $brand-titanium;
  width: 60%;
}

.text-left    { text-align: left; }
.text-center  { text-align: center; }
.text-right   { text-align: right; }
