// -----------------------------------------------------------------------------
// Module: Utility
// -----------------------------------------------------------------------------

// Reset Lists
@mixin nolist {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin mq($viewport) {
  @media screen and (min-width: $viewport) {
    @content;
  }
}

@mixin mq-custom($mq...) {
  @media screen and ($mq) {
    @content;
  }
}

// Transition
@mixin transition($properties...) {
  transition: $properties;
}
