/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

.bg-transparent {
  background-color: transparent;
}

.bg-dark-0 {
  background-color: transparent;
}

.bg-dark-1 {
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-dark-2 {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-dark-3 {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-dark-4 {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-dark-5 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-dark-6 {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-dark-7 {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-dark-8 {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-dark-9 {
  background-color: rgba(0, 0, 0, 0.9);
}

.bg-dark-10, .bg-black {
  background-color: black;
}

.bg-light-0 {
  background-color: rgba(255, 255, 255, 0);
}

.bg-light-1 {
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-light-2 {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-light-3 {
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-light-4 {
  background-color: rgba(255, 255, 255, 0.4);
}

.bg-light-5 {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-light-6 {
  background-color: rgba(255, 255, 255, 0.6);
}

.bg-light-7 {
  background-color: rgba(255, 255, 255, 0.7);
}

.bg-light-8 {
  background-color: rgba(255, 255, 255, 0.8);
}

.bg-light-9 {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-light-10, .bg-white {
  background-color: white;
}

.bg-grey-darkest {
  background-color: #1c1c1c;
}

.bg-grey-darker {
  background-color: #2c2e2f;
}

.bg-grey-dark {
  background-color: #4a4a4a;
}

.bg-grey-base {
  background-color: #8a8a8a;
}

.bg-grey-light {
  background-color: #bababa;
}

.bg-grey-lighter {
  background-color: #e6e6e6;
}

.bg-grey-lightest {
  background-color: #f4f4f4;
}

.bg-primary {
  background-color: #ff6b6b;
}

.bg-success {
  background-color: #558b6e;
}

.bg-wfp {
  background-color: rgba(42, 147, 252, 0.75);
}

.bg-pd {
  background-color: rgba(3, 197, 255, 0.75);
}

.bg-tvpn {
  background-color: rgba(247, 146, 30, 0.75);
}

.measure {
  max-width: 30em;
}

.measure-tight {
  max-width: 24em;
}

.measure-loose {
  max-width: 34em;
}

.container {
  max-width: 52em;
  margin-left: auto;
  margin-right: auto;
}

.container-md {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.container-lg {
  max-width: 74em;
  margin-left: auto;
  margin-right: auto;
}

.container-padded {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  position: relative;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  font-family: "soleil", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0 2px 12px 0 rgba(57, 64, 83, 0.15);
          box-shadow: 0 2px 12px 0 rgba(57, 64, 83, 0.15);
  display: inline-block;
  padding: 0.75em 1em;
  background-color: #5299d3;
  color: #ffffff;
  -webkit-transition: opacity ease 0.3s;
  -o-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}

.btn:hover {
  text-decoration: none;
}

.btn:visited {
  color: inherit;
  background-color: inherit;
}

.btn:hover {
  opacity: 0.85;
}

.btn-primary {
  background-color: #ff6b6b;
  color: #ffffff;
}

.btn-positive {
  background-color: #558b6e;
  color: #ffffff;
}

.btn-std {
  background-color: #748699;
  color: #ffffff;
}

a:link.btn {
  position: relative;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  font-family: "soleil", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0 2px 12px 0 rgba(57, 64, 83, 0.15);
          box-shadow: 0 2px 12px 0 rgba(57, 64, 83, 0.15);
  color: #ffffff;
}

a:link.btn:hover {
  text-decoration: none;
}

a:link.btn:visited {
  background-color: #5299d3;
  color: #ffffff;
}

a:link.btn-primary, a:link.btn-primary:visited {
  background-color: #ff6b6b;
  color: #ffffff;
}

.tile {
  overflow: hidden;
  height: 240px;
  width: 100%;
  max-width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
  -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-box-shadow 0.275s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.275s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-box-shadow 0.275s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: transform 0.275s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.275s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.275s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.275s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.275s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.275s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.275s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-box-shadow 0.275s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media screen and (min-width: 36.25em) {
  .tile {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .tile:not(:only-child) {
    max-width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 64em) {
  .tile {
    height: 328px;
  }
  .tile:hover {
    position: relative;
    -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 2px 12px;
            box-shadow: rgba(0, 0, 0, 0.15) 0 2px 12px;
    z-index: 10;
  }
}

.tile .tile-link {
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  border: 0;
  color: #ffffff;
  background-color: #394053;
}

.tile .tile-link-reversed {
  color: #394053;
  background-color: #ffffff;
}

.tile .tile-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 240px;
  max-width: 100%;
}

@media screen and (min-width: 64em) {
  .tile .tile-img {
    height: 328px;
  }
}

.tile .tile-info {
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.2) 0 1px 0;
          box-shadow: inset rgba(255, 255, 255, 0.2) 0 1px 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 64em) {
  .tile .tile-info {
    padding: 1.5rem;
  }
}

.tile .info-taxonomy {
  font-size: 0.875rem;
}

.tile .info-title {
  margin: 0.25rem 0;
}

.tile .info-text {
  font-size: 1rem;
  margin: 0.25rem 0;
  max-width: 20em;
}

.disable {
  overflow-y: hidden;
  max-height: 100%;
}

@media screen and (min-width: 64em) {
  .disable {
    overflow-y: auto;
    max-height: auto;
  }
}

.nav-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav-wrapper.opened {
  max-height: 100%;
  overflow-y: hidden;
}

.nav-wrapper.opened .main-nav {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  position: fixed;
  pointer-events: auto;
}

@media screen and (min-width: 64em) {
  .nav-wrapper {
    width: 70%;
  }
  .nav-wrapper .menu {
    width: 100%;
  }
}

.nav-trigger {
  position: relative;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid #ffffff;
  line-height: 1.250;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0.4rem 0.65rem;
  margin-right: 1rem;
  z-index: 10;
  font-family: "soleil", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  border-radius: 3px;
  outline: 0;
  -webkit-transition: 0.4s border-color cubic-bezier(0.2, 1, 0.3, 1), 0.4s color cubic-bezier(0.2, 1, 0.3, 1);
  -o-transition: 0.4s border-color cubic-bezier(0.2, 1, 0.3, 1), 0.4s color cubic-bezier(0.2, 1, 0.3, 1);
  transition: 0.4s border-color cubic-bezier(0.2, 1, 0.3, 1), 0.4s color cubic-bezier(0.2, 1, 0.3, 1);
}

.nav-trigger:hover {
  color: #ff6b6b;
  border-color: #ff6b6b;
  text-decoration: none;
}

.nav-trigger:active {
  color: #748699;
  border-color: #748699;
  text-decoration: none;
}

@media screen and (min-width: 64em) {
  .nav-trigger {
    display: none;
  }
}

.main-nav {
  z-index: 3;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform cubic-bezier(0.2, 1, 0.3, 1) 0.4s;
  transition: -webkit-transform cubic-bezier(0.2, 1, 0.3, 1) 0.4s;
  -o-transition: transform cubic-bezier(0.2, 1, 0.3, 1) 0.4s;
  transition: transform cubic-bezier(0.2, 1, 0.3, 1) 0.4s;
  transition: transform cubic-bezier(0.2, 1, 0.3, 1) 0.4s, -webkit-transform cubic-bezier(0.2, 1, 0.3, 1) 0.4s;
  -webkit-box-shadow: inset #ff6b6b 0 -4px 0;
          box-shadow: inset #ff6b6b 0 -4px 0;
  background-image: -o-linear-gradient(45deg, #394053, #748699 100%);
  background-image: linear-gradient(45deg, #394053, #748699 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

@media screen and (min-width: 64em) {
  .main-nav {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-image: none;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    width: 100%;
    height: auto;
    overflow: visible;
    pointer-events: auto;
  }
  .main-nav .menu--item {
    padding: 0.25rem 0.5rem;
    display: inline-block;
  }
}

.main-nav .menu--wrap {
  position: relative;
  overflow: hidden;
  margin: 0.33rem 0;
  list-style: none;
  padding: 0;
  z-index: 5;
  width: 100%;
}

@media screen and (min-width: 64em) {
  .main-nav .menu--wrap {
    margin: 0;
    text-align: right;
  }
}

.main-nav .menu--link {
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #ff6b6b;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  text-align: center;
  border-bottom: 0;
}

.main-nav .menu--link:hover, .main-nav .menu--link:focus, .main-nav .menu--link:active {
  color: #c45050;
}

@media screen and (min-width: 64em) {
  .main-nav .menu--link {
    font-size: 1rem;
    background-color: transparent;
    color: #ffffff;
    padding: 0.5rem 0.25rem;
    text-align: center;
    -webkit-transition: color cubic-bezier(0.2, 1, 0.3, 1) 0.4s, -webkit-box-shadow cubic-bezier(0.2, 1, 0.3, 1) 0.4s;
    transition: color cubic-bezier(0.2, 1, 0.3, 1) 0.4s, -webkit-box-shadow cubic-bezier(0.2, 1, 0.3, 1) 0.4s;
    -o-transition: color cubic-bezier(0.2, 1, 0.3, 1) 0.4s, box-shadow cubic-bezier(0.2, 1, 0.3, 1) 0.4s;
    transition: color cubic-bezier(0.2, 1, 0.3, 1) 0.4s, box-shadow cubic-bezier(0.2, 1, 0.3, 1) 0.4s;
    transition: color cubic-bezier(0.2, 1, 0.3, 1) 0.4s, box-shadow cubic-bezier(0.2, 1, 0.3, 1) 0.4s, -webkit-box-shadow cubic-bezier(0.2, 1, 0.3, 1) 0.4s;
  }
  .main-nav .menu--link:hover, .main-nav .menu--link:focus, .main-nav .menu--link:active {
    background-color: transparent;
    color: #ff6b6b;
    -webkit-box-shadow: inset 0 -0.125rem 0 #ff6b6b;
            box-shadow: inset 0 -0.125rem 0 #ff6b6b;
  }
}

html {
  font-size: 100%;
  line-height: 1.5;
}

@media all and (min-width: 32em) {
  html {
    font-size: 100%;
    line-height: 1.5;
  }
}

@media all and (min-width: 48em) {
  html {
    font-size: 100%;
    line-height: 1.5;
  }
}

@media all and (min-width: 64em) {
  html {
    font-size: 112.5%;
    line-height: 1.5;
  }
}

@media all and (min-width: 72em) {
  html {
    font-size: 125%;
    line-height: 1.4;
  }
}

.section-caption {
  display: inline-block;
  color: #748699;
  text-transform: uppercase;
  font-size: 0.875rem;
  border-bottom: 3px solid #748699;
  margin-top: 1rem;
  padding-bottom: 0.25rem;
}

.hero {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-image: -o-linear-gradient(45deg, #30292f, #748699 100%);
  background-image: linear-gradient(45deg, #30292f, #748699 100%);
  color: #ffffff;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 64em) {
  .hero {
    height: 75vh;
    min-height: 35em;
    padding-top: 1rem;
  }
}

.hero .hero-wrapper {
  max-width: 35.5rem;
  width: 100%;
}

@media screen and (min-width: 64em) {
  .hero .hero-wrapper {
    max-width: 52em;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero .hero-title {
  font-size: 1.625rem;
  font-weight: normal;
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin: 1.5rem 0;
  max-width: 36rem;
}

@media screen and (min-width: 32em) {
  .hero .hero-title {
    font-size: 1.777rem;
  }
}

@media screen and (min-width: 48em) {
  .hero .hero-title {
    font-size: 2.369rem;
  }
}

@media screen and (min-width: 64em) {
  .hero .hero-title {
    font-size: 2.618rem;
  }
}

.hero .hero-copy {
  font-size: 1.125rem;
  line-height: 1.4;
  margin: 1.5rem 0;
  max-width: 36rem;
}

.hero .hero-btn {
  margin: 0.5rem 0;
}

.hero-slim {
  min-height: 75vh;
  height: auto;
}

@media screen and (min-width: 48em) {
  .hero-slim {
    min-height: 32em;
  }
}

@media screen and (min-width: 64em) {
  .hero-slim {
    padding-top: 1rem;
  }
}

.hero-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-blend-mode: multiply;
}

.hero-bg .hero-title {
  font-weight: bold;
  margin: 0.25rem 0;
}

.hero-bg .hero-copy {
  margin: 0.25rem 0;
}

.hero-bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero-bottom .hero-wrapper {
  padding-bottom: 1rem;
}

@media screen and (min-width: 72em) {
  .hero-bottom .hero-wrapper {
    padding-bottom: 2rem;
  }
}

.splash {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 312px;
}

@media screen and (min-width: 48em) {
  .splash {
    height: 368px;
  }
}

@media screen and (min-width: 64em) {
  .splash {
    height: 428px;
  }
}

.splash.patterned {
  background-repeat: repeat;
  background-size: auto;
  background-image: url("../images/bg-pattern.png"), -o-linear-gradient(45deg, #30292f, #748699 100%);
  background-image: url("../images/bg-pattern.png"), linear-gradient(45deg, #30292f, #748699 100%);
  background-blend-mode: soft-light;
}

.splash.patterned .splash--dimmer {
  background-color: transparent;
}

.splash--dimmer {
  background-color: rgba(48, 41, 47, 0.85);
  color: #ffffff;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.splash--brand {
  height: 48px;
  width: 48px;
  overflow: hidden;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.75rem;
}

@media screen and (min-width: 48em) {
  .splash--brand {
    height: 64px;
    width: 64px;
  }
}

.splash--brand img {
  max-width: 100%;
  width: 100%;
}

.splash--title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 20em;
}

.splash--title.solo {
  font-weight: normal;
}

.splash--copy {
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
  font-size: 1.125rem;
}

.splash--cta {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.projectsList {
  background-color: #f2f4f6;
}

@media screen and (min-width: 64em) {
  .projectsList {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.projectsList-container {
  max-width: 52em;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 36.25em) {
  .projectsList-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media screen and (min-width: 64em) {
  .projectsList-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.feature {
  width: 100%;
  padding: 0;
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.feature-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 64em) {
  .feature-container {
    padding: 3rem;
    min-height: 20em;
  }
}

.feature-aligned {
  max-width: 64em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 48em) {
  .feature-aligned {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.feature-shaded {
  background-color: #f2f4f6;
  background-image: -o-linear-gradient(45deg, #eaecef, white 100%);
  background-image: linear-gradient(45deg, #eaecef, white 100%);
}

.feature-plain {
  padding: 1.5rem;
}

.feature-photo {
  padding: 0;
  min-height: 12em;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #e6e6e6;
}

.feature-photo img {
  display: block;
  max-width: 100%;
}

@media screen and (min-width: 48em) {
  .feature-photo {
    max-width: 40%;
  }
}

@media screen and (min-width: 72em) {
  .feature-photo {
    min-height: 24em;
  }
}

.feature-bg-photo {
  padding: 0;
  min-height: 12em;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #e6e6e6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature-bg-photo img {
  display: block;
  max-width: 100%;
}

@media screen and (min-width: 48em) {
  .feature-bg-photo {
    max-width: 40%;
  }
}

@media screen and (min-width: 72em) {
  .feature-bg-photo {
    min-height: 24em;
  }
}

.feature-text {
  display: block;
  padding: 0;
}

@media screen and (min-width: 48em) {
  .feature-text {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 64em) {
  .feature-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.feature-content {
  max-width: 34em;
}

.feature-content-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.header-sticky {
  top: 0;
  position: fixed;
}

.header {
  width: 100vw;
  will-change: background-color;
  -webkit-transition: 0.4s background-color cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.4s background-color cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.4s background-color cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 100;
}

.header .header-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 64em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

@media screen and (min-width: 48em) {
  .header .header-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 64em) {
  .header .header-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.header.sticky {
  background-color: rgba(57, 64, 83, 0.95);
}

.header .logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 0.75rem;
  color: #ffffff;
  text-decoration: none;
  z-index: 10;
  border: 0;
}

.header .logo:hover .bot-eyes {
  -webkit-transition: fill 0.4s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: fill 0.4s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), fill 0.4s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), fill 0.4s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), fill 0.4s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  fill: #ffffff;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

@media screen and (min-width: 48em) {
  .header .logo {
    margin-left: -0.5rem;
  }
}

.header .logo--glyph {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header .logo--text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: bold;
  font-size: 1rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer--container {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 48em) {
  .footer--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer--company,
.footer--contact,
.footer--social {
  margin: 0.75rem 0;
  font-size: 0.875rem;
  text-align: center;
}

.footer--company p,
.footer--contact p,
.footer--social p {
  margin: 0.125rem 0;
}

@media screen and (min-width: 48em) {
  .footer--company,
  .footer--contact,
  .footer--social {
    text-align: left;
  }
}

.footer--address {
  font-size: 0.75rem;
  line-height: 1.2;
}

.footer--social p {
  margin: 0;
  line-height: 1;
}

a:link.social--link {
  border-bottom: 0;
  display: inline-block;
}

a:link.social--link svg {
  fill: #546270;
  display: block;
}

a:link.social--link.twitter:hover svg {
  fill: #1da1f2;
}

a:link.social--link.github:hover svg {
  fill: #333;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "soleil", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-repeat: repeat;
  background-color: #ffffff;
  color: #394053;
}

h1, .h1 {
  font-size: 1.6018066406rem;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.25em;
  font-weight: 800;
}

@media all and (min-width: 32em) {
  h1, .h1 {
    font-size: 2.44140625rem;
  }
}

@media all and (min-width: 48em) {
  h1, .h1 {
    font-size: 3.1573345183rem;
  }
}

@media all and (min-width: 64em) {
  h1, .h1 {
    font-size: 3.9975843648rem;
  }
}

@media all and (min-width: 72em) {
  h1, .h1 {
    font-size: 3.375rem;
    line-height: 1.125;
  }
}

h2, .h2 {
  font-size: 1.423828125rem;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 800;
}

@media all and (min-width: 32em) {
  h2, .h2 {
    font-size: 1.953125rem;
  }
}

@media all and (min-width: 48em) {
  h2, .h2 {
    font-size: 2.368593037rem;
  }
}

@media all and (min-width: 64em) {
  h2, .h2 {
    font-size: 2.827145944rem;
  }
}

@media all and (min-width: 72em) {
  h2, .h2 {
    font-size: 2.25rem;
  }
}

h3, .h3 {
  font-size: 1.265625rem;
  line-height: 1.333;
  margin-top: 1em;
  margin-bottom: 0.75em;
  font-weight: 800;
}

@media all and (min-width: 32em) {
  h3, .h3 {
    font-size: 1.5625rem;
  }
}

@media all and (min-width: 48em) {
  h3, .h3 {
    font-size: 1.776889rem;
  }
}

@media all and (min-width: 64em) {
  h3, .h3 {
    font-size: 1.999396rem;
  }
}

@media all and (min-width: 72em) {
  h3, .h3 {
    font-size: 1.5rem;
  }
}

h4, .h4 {
  font-size: 1.125rem;
  line-height: 1.414;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 800;
}

@media all and (min-width: 32em) {
  h4, .h4 {
    font-size: 1.25rem;
  }
}

@media all and (min-width: 48em) {
  h4, .h4 {
    font-size: 1.333rem;
  }
}

@media all and (min-width: 64em) {
  h4, .h4 {
    font-size: 1.414rem;
  }
}

@media all and (min-width: 72em) {
  h4, .h4 {
    font-size: 1rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

p + p {
  margin-top: 1em;
}

p a:link {
  color: #ff6b6b;
  text-decoration: none;
  border-bottom: 1px solid;
}

p a:visited {
  color: #f87272;
  text-decoration: none;
}

p a:hover {
  color: #ff6b6b;
  text-decoration: none;
  border-bottom-color: #c45050;
}

ul, ol {
  padding-left: 1.5rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

ul {
  list-style-type: square;
}

figure figcaption {
  color: #4a4a4a;
  font-size: 0.875rem;
  font-style: italic;
  border-top: 1px solid #e6e6e6;
  padding-top: 0.5rem;
  text-align: center;
}

blockquote {
  border-left: 0.25rem solid #ff6b6b;
  padding-left: 1.5rem;
}

img {
  max-width: 100%;
  display: block;
}

hr {
  margin: 2.5rem auto 2.125rem;
  background-color: #ffffff;
  border: 0;
  border-top: 2px solid #748699;
  width: 60%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
/*# sourceMappingURL=madsauce.css.map */