@mixin button {
  position: relative;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  font-family: $font-family;
  font-weight: bold;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 12px 0 rgba($brand-charcoal, 0.15);

  &:hover {
    text-decoration: none;
  }
}

.btn {
  @include button;
  display: inline-block;
  padding: 0.75em 1em;
  background-color: $brand-blue;
  color: $white;
  transition: opacity ease 0.3s;

  &:visited {
    color: inherit;
    background-color: inherit;
  }

  &:hover {
    opacity: 0.85;
  }
}

.btn-primary {
  background-color: $brand-primary;
  color: $white;
}

.btn-positive {
  background-color: $brand-success;
  color: $white;
}

.btn-std {
  background-color: $brand-titanium;
  color: $white;
}

a:link {
  &.btn {
    @include button;
    color: $white;

    &:visited {
      background-color: $brand-blue;
      color: $white;
    }
  }
}

a:link {
  &.btn-primary,
  &.btn-primary:visited {
    background-color: $brand-primary;
    color: $white;
  }
}
