@mixin container($size: $container, $centered: false) {
  max-width: $size;

  @if $centered == true {
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
  @include container($centered: true);
}

.container-md {
  @include container($container-md, true);
}

.container-lg {
  @include container($container-lg, true);
}
