.splash {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 312px;

  @include mq($md) {
    height: 368px;
  }

  @include mq($lg) {
    height: 428px;
  }

  &.patterned {
    background-repeat: repeat;
    background-size: auto;
    background-image:
      url("../images/bg-pattern.png"),
      linear-gradient(45deg, $brand-dark, $brand-titanium 100%);
    background-blend-mode: soft-light;

    .splash--dimmer {
      background-color: transparent;
    }
  }
}

.splash--dimmer {
  background-color: rgba($brand-dark, 0.85);
  color: $white;
  text-align: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.splash--brand {
  height: 48px;
  width: 48px;
  overflow: hidden;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.75rem;

  @include mq($md) {
    height: 64px;
    width: 64px;
  }

  img {
    max-width: 100%;
    width: 100%;
  }
}

.splash--title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 20em;

  &.solo {
    font-weight: normal;
  }
}

.splash--copy {
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
  font-size: 1.125rem;
}

.splash--cta {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
