// -----------------------------------------------------------------------------
// Module: Utility
// -----------------------------------------------------------------------------

// Reset Lists
@mixin nolist {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Media Query
@mixin mq($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Transition
@mixin transition($properties...) {
  transition: $properties;
}
